@using Core.RequestEntity.DTOs
@model List<CarListDTO>

@{
    Layout = "_AdminLayout";
}

<h3>Requets for Accept</h3>

<table class="table table-responsive table-striped table-hover col-lg-5">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">User Phone Number</th>
            <th scope="col">Plate Number</th>
            <th scope="col">Car Brand</th>
            <th scope="col">Status</th>
            <th scope="col">Operation</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td scope="row">@item.UserPhoneNumber</td>
                <td scope="row">@item.CarPlateNumber</td>
                <td scope="row">@item.CarBrand</td>
                <td scope="row">@item.IsAccepted</td>
                <td>
                    <a asp-action="ViewDetails" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                </td>
            </tr>
        }

    </tbody>
</table>